# Ignore all image files and directories
images/Original/
images/Ground_Truth/
*.png
*.jpg
*.jpeg

# Keep log files and models
!models/
!models/model.pth
!models/logs/logs.csv

# Ignore the virtual environment
venv/
